langchain-openai
langchain
python-dotenv
langchain_community
langchain_core
streamlit
langchain-groq
pypdf
faiss-cpu
langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
lxml
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4
streamlit
langchain_groq
langserve
sse_starlette
arxiv
wikipedia
duckduckgo-search
mysql-connector-python  
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
sympy
huggingface_hub
cassio 
datasets 
langchain 
openai 
tiktoken
PyPDF2
